@import "partials/toc";


/* GLOBAL RESETS */
* {box-sizing: border-box;}

// VARIABLES

$color-text-body: rgba(0, 0, 0, 0.8);
$color-text-body-light: rgba(255, 255, 255, .8);
$color-text-headings: rgba(0, 0, 0);
$color-text-headings-light: rgba(255, 255, 255, 1);
$color-accent: rgba(207, 148, 255, 1);
$color-accent-dark: rgba(48, 0, 102, .7);
$color-accent-light: rgb(225, 198, 255);

$color-lightgrey: rgba(0, 0 ,0, .5);

$font-family-sans: Bilo, Arial, Helvetica, sans-serif;
$font-family-serif: fairplex-wide, Georgia, 'Times New Roman', serif;

// BREAKPOINTS

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS

@import "partials/typography";
@import "partials/helpers";
@import "partials/button";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";


